@media all
{
	.fl
	{
		.float: left;
	}

	.fr
	{
		float: right;
	}

	.deleted, .deleted a
	{
		color: #ccc;
	}

	.row-actions
	{
		white-space: nowrap;
	}

	.stepper
	{
		display: inline-block;
	}

		.stepper a, .stepper strong
		{
			display: inline-block;
			font-size: 1.3em;
			padding: 0 0.6em;
		}
}